COBIA_EXCHANGE_URL=https://getcobia.com
XLAYER_RPC_URL=https://rpc.xlayer.tech
ETHEREUM_RPC_URL=https://ethereum-rpc.publicnode.com
COBIA_EXECUTOR_V3_ADDRESS=0xa31dDF9b68F0d3cE859c3dC2c12e17d9288231A0
REFERENCE_SOLVER_ID=cobia-reference
REFERENCE_SOLVER_NAME=Cobia Reference Solver
REFERENCE_SOLVER_PRIVATE_KEY=0xREPLACE_WITH_A_DEDICATED_NON_CUSTODIAL_SOLVER_KEY
REFERENCE_SOLVER_POLL_MS=10000
